<header id="header" class="header fixed-top d-flex align-items-center">
    {% include "_page/_panel/_top/_logo.html.twig" %}
    {#{% include "_page/_panel/_top/_search.html.twig" %}#}
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            {# {% include "_page/_panel/_top/_searchIcon.html.twig" %}#}
{# {% include "_page/_panel/_top/_notification.html.twig" %}#}

            {#{{ checkConnection()|raw }}#}

            {% include "_modules/_messages/_messages.html.twig" %}
            {% include "_page/_panel/_top/_profile.html.twig" %}
        </ul>
    </nav>
</header>

