<div class="alert_{{ message.id }} alert alert-success alert-dismissible hide" role="alert">
    <i class="bi bi-check-circle me-1"></i>
    Widomość została wysłana
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
</div>