<form method="post" action="{{ path('filesStatusVariants_delete', {'status': files_status.id, 'id': files_status_variants.id}) }}" onsubmit="return confirm('Czy jesteś pewny, że chcesz usunąć wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ files_status_variants.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Usuń{% endtrans %}</button>
</form>
