<form method="post" action="{{ path('settlement_delete', {'id': settlement.id}) }}" onsubmit="return confirm('Czy jesteś pewny, że chcesz usunąć wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ settlement.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Usuń{% endtrans %}</button>
</form>
