{% if block('javascripts_top') is not defined %}{% block javascripts_top %}{% endblock %}{% endif %}
{% if block('stylesheets') is not defined %}{% block stylesheets %}{% endblock %}{% endif %}
{% if block('javascripts_bottom') is not defined %}{% block javascripts_bottom %}{% endblock %}{% endif %}
{% if block('after_body') is not defined %}{% block after_body %}{% endblock %}{% endif %}
{% include '_page/_core/_header.html.twig' with {
    javascripts_top: block('javascripts_top'),
    stylesheets: block('stylesheets'),
    stylesheetsUrl: '_page/_guest/_styles.html.twig',
    after_body: block('after_body'),
} %}
{# {% include '_page/_guest/_top.html.twig' %} #}
{% include '_page/_guest/_nav.html.twig' %}

 {% if app.request.get('_route') == 'home' %}
     {% include '_page/_guest/_hero.html.twig' %}
 {% endif %}

<main id="main" class="main">

    {% if app.request.get('_route') != 'home' %}
        {% include '_page/_guest/_breadcrumb.html.twig' %}
    {% endif %}

    {% if app.request.get('_route') != 'home' %}
    <section class="inner-page pt-0">{% endif %}
        {% include "_page/_core/_messages.html.twig" %}
        {% block body %}{% endblock %}
        {% if app.request.get('_route') != 'home' %}</section>{% endif %}


</main>
{% include '_page/_core/_footer.html.twig' with {
    javascripts_bottom: block('javascripts_bottom'),
    footerUrl: '_page/_guest/_footer.html.twig',
    javascriptsUrl: '_page/_guest/_scripts.html.twig',
} %}

{% include "_page/_content/_logoutModal.html.twig" %}

