<form method="post" action="{{ path('files_delete', {'id': files.id}) }}" onsubmit="return confirm('Czy jesteś pewny, że chcesz usunąć wpis?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ files.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Usuń{% endtrans %}</button>
</form>
